
body {
box-sizing: border-box;
margin:0;
}

.bg-img {
  /* The image used */
  background-image: url("allenp1.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  width: 100%;
}

/* The navbar */
.topnav {
  overflow: hidden;
  width:100%;
  /* background-color:black; */
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.info{
    text-align: center;
    margin-top: 6rem;
    color: red;
    font-size: 5rem;
}

input{
    margin-left: 35rem;
    width: 20rem;
    border-radius: 1rem;
}

.search{
    text-align: center;
    color: red;
    font-size: 2rem;
}